/*

[目录表] 

	1- subFoot         底部整体框架
	2- Copyright       版权等信息
	3- goTopBtn        返回顶部样式
	
*/

/* =1 subFoot––––––––––––––––––––––––––––––––––––––*/
#subFoot{/* 底部整体框架 */
  width:100%;
	background:url(../images/foot_bg.jpg) repeat-x;
	margin-top:20px;
}

/* =2 Copyright––––––––––––––––––––––––––––––––––––––*/
#Copyright{/* 底部版权信息 */
  height:90px;
	width:960px;
	margin:auto;
}

.themeBy{/* 模板制作版权信息 */
	float:left;
	color:#FFFFFF;
	height:90px;
	width:780px;
}
.themeBy h1{/* 模板制作版权信息 */
	color:#FFFFFF;
	font-weight:normal;
	font-family:Tahoma;
	text-align:center;
	line-height:90px;
	padding-left:100px;
}
.themeBy h1 strong{
	color:#91B648;
	font-weight:normal;
}
.themeBy h1 a{
	color:#FFFFFF;
	text-decoration:none;
}
.themeBy h1 a:hover{
	color:#91B648;
	text-decoration:underline;
}
.powerBy{/* 程序织梦版权信息 */
	float:right;
	height:25px;
	width:149px;
	padding-right:10px;
	margin-top:35px;
}

/* =3 goTopBtn–––––––––––––––––––––––––––––––––-––––––*/
#goTopBtn{/* 返回顶部 */
	bottom:100px; 
	left:50%; 
	margin-left:500px;
	position:fixed;
}
#goTopBtn a{
	background:#F8F8F8;
	display:block; 
	color:#222;
	padding-top:2px;
	text-decoration:none;
	width:14px; 
}
#goTopBtn a:hover{
	background:#D02F53; 
	color:#fff;
	text-decoration:none;
}
#goTopBtn em{
	border-width:0 7px 7px; 
	border-style:solid; 
	border-color: #D02F53 #f8f8f8; 
	display:block; 
	height:0; 
	overflow:hidden;
	width:0; 
}
*html #goTopBtn{
	display:none;
}