*
{
    margin  : 0;
    padding : 0;
}

html, body
{
    height: 100%;
}

body
{
    font-size   : 13px;
    font-family : Verdana,Arial,Helvetica,sans-serif;
    color       : #333;
    background  : #eee;
    display: flex;
    flex-direction: column;
}

header
{
    flex: 0 0 auto;
}

content
{
    flex: 1 0 auto;
}

footer
{
    flex: 0 0 auto;
}

ol,ul
{
    list-style : none;
}
    
a
{
    color           : #51504f;
    text-decoration : none;
}

img
{
    border : none;
}
/************************************ 顶部样式 ************************************/
.top-search-wrap
{
    width      : 100%;
    height     : 60px;
    background : #333333;
}

.top-search-wrap .top-search
{
    width  : 960px;
    height : 80px;
    margin : 0 auto;
}

.top-search-wrap .top-search .logo
{
    display    : block;
    width      : 217px;
    height     : 60px;
    float      : left;
    margin-top : 0;
}

.top-nav-wrap
{
    width         : 100%;
    height        : 41px;
    background    : #f8f8f8;
    border-bottom : 1px solid #b4b4b4;
}

.top-nav-wrap .nav-lv1
{
    width  : 960px;
    height : 41px;
    margin : 0 auto;
}

.top-nav-wrap .nav-lv1 .nav-lv1-li
{
    height     : 41px;
    padding    : 5px 5px 0 5px;
    background : url(../images/nav-sep.gif) no-repeat right 13px;
    float      : left;
    position   : relative;
}

.top-nav-wrap .nav-lv1 .nav-lv1-li a
{
    display     : block;
    height      : 36px;
    line-height : 36px;
    text-align  : center;
    padding     : 0 20px;
    font-size   : 16px;
}

.top-nav-wrap .nav-lv1 .nav-lv1-li .cur
{
    background : #1E1E1E;
    color      : #fff;border-radius:6px 6px 0 0;
}

.top-nav-wrap .nav-lv1 .nav-lv1-li ul
{
    position   : absolute;
    background : #1E1E1E;
    width      : 168px;
    display    : none;
}

.top-nav-wrap .nav-lv1 .nav-lv1-li ul li a
{
    color      : #ffffff;
    font-size  : 14px;
    text-align : left;
}

.top-nav-wrap .nav-lv1 .nav-lv1-li ul li a:hover
{
    background : #3E3E3E;
}

/************************************ main 样式 ************************************/
.main
{
    width    : 960px;
    height   : auto;
    overflow : hidden;
    margin   : 20px auto;
}

.main dl dd h2
{
    float       : left;
    font-weight : normal;
}

.main h1, .main h2
{
    font-size : 13px;
}

/************************************ right 样式 ************************************/
.main .main-right
{
    width    : 280px;
    height   : auto;
    overflow : hidden;
    float    : right;
}

.main .main-right dl
{
    border-bottom : 1px solid #d4d4d4;
    margin-bottom : 20px;
}

.main .main-right dl dt
{
    height                : 30px;
    line-height           : 30px;
    text-indent           : 10px;
    font-weight           : bold;
    background            : #f8f8f8;
    border                : 1px solid #d4d4d4;
    border-radius         : 8px 8px 0 0;
    -moz-border-radius    : 8px 8px 0 0;
    -webkit-border-radius : 8px 8px 0 0;
}

.main .main-right dl dd
{
    border-left  : 1px solid #d4d4d4;
    border-right : 1px solid #d4d4d4;
    height       : 20px;
    line-height  : 20px;
    padding      : 5px;
    background   : #fff;
}

.main .main-right dl dd a
{
    color : #00608d;
}

.main .main-right dl dd a:hover
{
    color : #f60;
}

.main .main-right dl dd h2
{
    float : left;
}

.main .main-right dl dd span
{
    float : right;
    color : #999;
}

/************************************ 底部样式 ************************************/
.footer
{
    width      : 100%;
    height     : 40px;
    padding    : 20px 0 0 0;
    text-align : center;
    color      : #fff;
    background : #333;
}

.footer  a
{
    color : #0f0
}

.footer a:hover
{
    color : #f00;
}